{% extends '../base.html' %}
{% block body_block %}

<div class="row">
    <div class="col-md-4">
        <h3>Ventas Totales</h3>
        <button id="ventastotales_btn" onclick="VentasTotales()" class="btn btn-success">Generar</button>
    </div>

    <div class="col-md-4">
        <h3>Ventas por vendedor</h3>
        <select id="vendedores_select" multiple=true class="form-control">

        </select>
        <p></p>
        <button id="ventastotales_btn" onclick="VentasVendedores()" class="btn btn-primary">Generar</button>
    </div>

    <div class="col-md-4">
        <h3>Seleccionar tipo de grafica</h3>
        <select id="graphtype" class="form-control">
            <option value="bar">Grafica de barra</option>
            <option value="doughnut">Grafica de dona</option>
            <option value="line">Grafica de lineas</option>
        </select>
    </div>
</div>


<hr>

<canvas id="chart" width="300" height="300">

</canvas>
<script>

    let ventas_json = `{{ventas|safe}}`
        .replace("(", "")
        .replace(",)", "")
        .replace("'", "")
        .replace("'", "");

    let ventas = JSON.parse(ventas_json);

    let vendedores_json = `{{vendedores|safe}}`
        .replace("(", "")
        .replace(",)", "")
        .replace("'", "")
        .replace("'", "");


    let vendedores = JSON.parse(vendedores_json);
    console.log(vendedores);

    function generarColores(tam) {
        colores = [];
        for (i = 0; i < tam; i++) {
            colores.push(`rgba(${ Math.floor(Math.random() * 256)}, ${ Math.floor(Math.random() * 256)}, ${ Math.floor(Math.random() * 256)}, 0.1)`)
        }

        return colores;
    }

    vendedores.forEach(rep => {
        $('#vendedores_select').append($('<option>', {
            value: rep.dpi,
            text: rep.nombre + " " + rep.dpi,
            style: "font-weight: bold"
        }));
    });

    function VentasTotales() {

        var seq = palette('tol-sq', 10);
        let ventas_labels = [];
        let ventas_totales = [];
        ventas.forEach(venta => {
            ventas_labels.push("Venta #" + venta.id);
            ventas_totales.push(venta.total * 1);
        });

        console.log(ventas_labels);
        console.log(ventas_totales);

        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: $("#graphtype").val(),
            data: {
                labels: ventas_labels,
                datasets: [{
                    label: 'Total por venta',
                    data: ventas_totales,
                    borderWidth: 1,
                    backgroundColor: generarColores(ventas_totales.length)
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function VentasVendedores() {
        let seleccionados = $("#vendedores_select").val();

        let vendedores_labels = []
        seleccionados.forEach(s => {
            vendedores_labels.push(s);
        });

        let totales_vendedor = []

        seleccionados.forEach(s => {
            total = 0;
            ventas.forEach(v => {
                if (v.vendedor == s) {
                    total += v.total * 1;
                }
            })

            totales_vendedor.push(total);
        });

        console.log(vendedores_labels);
        console.log(totales_vendedor);

        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: $("#graphtype").val(),
            data: {
                labels: vendedores_labels,
                datasets: [{
                    label: 'Total por vendedor',
                    data: totales_vendedor,
                    borderWidth: 1,
                    backgroundColor: generarColores(totales_vendedor.length)
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    }

    

</script>

{% endblock %}