<!-- Esta vista muestra el perfil de los datos de un usuario -->

{% extends '../base.html' %}
{% block body_block %}

<h1>{{ object.nombre }}</h1>

<p>DPI: {{object.dpi}}</p>
<p>Correo: <a href='mailto://{{object.email}}'>{{ object.email }}</a></p>
<p>Fecha de Nacimiento: {{object.fecha_nacimiento}}</p>

<a href='{% url "modificar_usuario" %}'>Modificar mis datos</a>

<h2>Grupos y permisos</h2>

<ul>
    {% for group in object.groups.all %}
    <li>
        {{ group.name }} 
        <ul>
            {% for permission in group.permissions.all %}
            <li> {{ permission.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}