<h1>Sedes</h1>
<a href="{% url "crear_sede" %}">Crear</a>
<table>
<thead>
<tr>
<th>Alias</th>
<th>Direccion</th>
<th>Departamento</th>
<th>Municipio</th>
<th>Encargado</th>
<th>Bodegas</th>
</tr>
</thead>
<tbody>
{% for sede in object_list %}
<tr>
<td>{{ sede.alias }}</td>
<td>{{ sede.direccion }}</td>
<td>{{ sede.departamento }}</td>
<td>{{ sede.municipio }}</td>
<td><a href="#">{{ sede.encargado.dpi }}</a></td>
<td>{{ sede.numero_bodegas }}</td>
<td>
<a  href="{% url "detalle_sede"  sede.id  %}">ver</a>
<a  href="{% url "modificar_sede"  sede.id  %}">editar</a>
<a  href="{% url "eliminar_sede"  sede.id  %}">eliminar</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>