<!-- Esta vista muestra el detalle de una sede -->

{% extends '../base.html' %}
{% block body_block %}

<h1>{{ object.nombre }}</h1>

<hr>

<p><h4>Codigo de Barras</h4>{{ object.codigo_barras }}</p><br>
<p><h4>Descripcion</h4>{{ object.descripcion }}</p><br>
<p><h4>Precio</h4>{{ object.precio }}</a></p><br>
        <h4>Categorias</h4><p> 
            {% for categoria in object.categorias.all %}
                {{ categoria.nombre }}<br>
            {% endfor %} 
        </p><br>

        <a class="btn btn-success" href="{% url "lista_productos" %}">Regresar</a>


<!-- Por hacer: detalle de encargado y de bodegas -->

{% endblock %}