<!-- Esta vista muestra todas las sedes que hay disponibles -->

{% extends '../base.html' %}
{% block body_block %}

<h1>Productos</h1>

<a class="btn btn-success" href="{% url "crear_producto" %}">Crear Producto</a>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>SKU</th>
            <th>Codigo de Barras</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categorias</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        {% for producto in object_list %}
        <tr>
            <td><a href="{% url "detalle_producto"  producto.id  %}">{{ producto.sku }}</a></td>
            <td>{{ producto.codigo_barras }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</a></td>
            <td> 
                {% for categoria in producto.categorias.all %}
                    {{ categoria.nombre }}<br>
                {% endfor %} 
            </td>
            <td>
                <a href="{% url "modificar_producto"  producto.id  %}"> <span class="glyphicon glyphicon-pencil">&nbsp;</span></a>
                <a href="{% url "eliminar_producto"  producto.id  %}"> <span class="glyphicon glyphicon-remove">&nbsp;</span></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}