<!-- Esta vista muestra todas las bodegas que hay disponibles -->

{% extends '../base.html' %}
{% block body_block %}

<h1>Bodegas</h1>

<a class="btn btn-success" href="{% url "crear_bodega" %}">Crear bodega</a>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Estado</th>
            <th>Encargado</th>
            <th colspan="3">Acciones</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        {% for bodega in object_list %}
        <tr>
            <td><a href="{% url "detalle_bodega"  bodega.id  %}">{{ bodega.nombre }}</a></td>
            <td>{{ bodega.direccion }}</td>
            <td>{% if bodega.activada %}{{ "Activa" }}{% else %}{{ "Inactiva" }}{% endif %}</td>
            <td><a href='{% url "ver_usuario" bodega.encargado.dpi %}'>{{ bodega.encargado.email }}</a></td>    
            <td>
                <a href="{% url "modificar_bodega"  bodega.id  %}"> <span class="glyphicon glyphicon-pencil">&nbsp;</span></a>
                <a href="{% url "eliminar_bodega"  bodega.id  %}"> <span class="glyphicon glyphicon-remove">&nbsp;</span></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}