<!-- Esta vista muestra todas las sedes que hay disponibles -->

{% extends '../base.html' %}
{% block body_block %}

<h1>Crear una venta</h1>
<hr>
<div class="jumbotron">

    <form method="post" class="form" id="create_venta_form">
        {% csrf_token %}

        <p>
            <label for="id_cliente">Cliente:</label> <select name="cliente" class="form-control" required
                id="id_cliente">

                <option value="" selected>---------</option>

                {% for cliente in clientes %}

                <option value="{{cliente.dpi}}">{{cliente}}</option>

                {% endfor %}

            </select>
        </p>
        <p>
            <label for="id_vendedor">Vendedor:</label>
            <select name="vendedor" class="form-control" required id="id_vendedor">
                <option value="" selected>---------</option>


                {% for vendedor in vendedores %}

                <option value="{{vendedor.email}}">{{vendedor}}</option>

                {% endfor %}

            </select>

        </p>
        <p>
            <label for="id_fecha_facturacion">Fecha de facturacion:</label>

            <input type="date" name="fecha_facturacion" class="form-control" required id="id_fecha_facturacion"
                min="2000-01-01" max="2025-01-01">
        </p>

        <div class="row">
            <div class="col-md-8">

                <h2>Agregar productos</h2>
                <hr>
                <div class="row">

                    <div class="col-md-8">
                        <label for="id_productos">Productos:</label>
                        <select name="productos" class="form-control" id="id_productos" multiple style="height: 400px">
                            {% for producto in productos %}

                            <option value="{{producto.id}}">{{producto}}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="producto_qtty">Cantidad:</label>
                        <input type="number" id="producto_qtty" step="1" min="0" class="form-control" placeholder="Cantidad de productos...">
                        <p></p>
                        <input type="button" id="btn_add" onclick="agregar_producto()" value="aceptar"
                            class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Productos Agregados</h2>
                <hr>

                <label for="productos_agregados">Productos agregados:</label>
                <select name="productos_agregados" class="form-control" id="productos_agregados" multiple
                    style="height: 350px">

                </select>
                <p></p>
                <input type="button" id="btn_remove_product" onclick="remove_selected_products()"
                    value="Remover elementos seleccionados" class="btn btn-xs btn-danger btn-block" />
            </div>
        </div>
        </p>

        <p>
            <label for="id_tipo">Tipo:</label>
            <select name="tipo" class="form-control" id="id_tipo">
                <option value="D">A domicilio</option>
                <option value="L" selected>Local</option>
            </select>
        </p>

        <p id="repartidor_container" hidden>
            <label for="id_repartidor">Repartidor:</label>
            <select name="repartidor" class="form-control" id="id_repartidor">
                <option value="" selected>---------</option>

                {% for repartidor in repartidores %}

                <option value="{{repartidor.email}}">{{repartidor}}</option>

                {% endfor %}

            </select></p>
        <p>

            <input class="btn btn-success" type="submit" value="Aceptar" />
    </form>

</div>


<script>

    function remove_selected_products() {
        ($("#productos_agregados").val() + "").split(",").forEach(v => {
            console.log("Removiendo: " + v);
            $(`#productos_agregados option[value='${v}']`).remove();
        });
    }

    function agregar_producto() {
        let products_id = $("#id_productos").val() + "";
        let qtty = $("#producto_qtty").val();

        if (products_id <= 0) {
            alert("Por favor selecciona un producto");
            return;
        }

        if (qtty <= 0) {
            alert("Por favor ingresa una cantidad valida");
            return;
        }

        let products = products_id.split(",");

        products.forEach(product_id => {
            let product_name = $(`#id_productos option[value='${product_id}']`).text();

            $('#productos_agregados').append($('<option>', {
                value: `${product_id}#_v_#${qtty}`,
                text: `${qtty} - ${product_name}`
            }));
        });

    }

    $('#create_venta_form').submit(function () {

        let agregados = $("#productos_agregados option");

        console.log(agregados.length);

        if (agregados.length > 0) {
            $('#productos_agregados option').prop('selected', true);
            return true;
        }
        else {
            alert('Por favor agregar productos a la venta');
        }

        return false;
    });

    $('#id_tipo').on('change', function () {
        $("#id_repartidor option[value='']").prop('selected', true);

        if (this.value == 'L') {
            $("#repartidor_container").prop('hidden', true);
            $("#id_repartidor").prop('required', false);
        }
        else if (this.value == 'D') {
            $("#repartidor_container").prop('hidden', false);
            $("#id_repartidor").prop('required', true);
        }
    });

</script>

{% endblock %}