<!-- Esta vista muestra todas las sedes que hay disponibles -->

{% extends '../base.html' %}
{% block body_block %}

<h1>Ventas</h1>

<a class="btn btn-success" href="{% url "crear_venta" %}">Crear venta</a>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Fecha de Facturacion</th>
            <th>Tipo de entrega</th>
            <th>Fecha de entrega</th>
            <th>Entregado</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        {% for venta in object_list %}
        <tr>
            <td>{{ venta.cliente }}</td>
            <td>{{ venta.vendedor }}</td>
            <td>{{ venta.fecha_facturacion }}</td>
            <td>{% if venta.tipo == 'L' %} <span class='text-success'>Local</span> {% else %} <span class='text-primary'>Domicilio</span> {% endif %}</td>
            <td>{{ venta.fecha_entrega }}</td>
            <td>{% if venta.entregada %} <span class='text-success'>Entregada</span> {% else %} <span class='text-danger'>Pendiente</span> {% endif %}</td>
            
            <td>
                <a href="{% url "ver_venta"  venta.id  %}"> <span class="glyphicon glyphicon-eye-open">&nbsp;</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}