<table class="table table-hover table-bordered">
    <tr>
      <th colspan="2">Venta #{{ object.id }}</th>
    </tr>
    <tr>
      <td>Cliente</td>
      <td><a href='{% url "lista_clientes" %}'>{{object.cliente}}</a>
        </td>
    </tr>
    <tr>
      <td>Vendedor</td>
      <td><a href='{% url "ver_usuario" object.vendedor.dpi %}'>{{object.vendedor}}</a></td>
    </tr>
    <tr>
      <td>Fecha Facturación</td>
      <td>{{ object.fecha_facturacion }}</td>
    </tr>
    <tr>
      <td>Tipo</td>
      <td>{% if object.tipo == 'D' %}A domicilio{% else %}En el local{% endif %}</td>
    </tr>
    {% if object.repartidor %}
    <tr>
      <td>Repartidor</td>
      <td><a href='{% url "ver_usuario" object.repartidor.dpi %}'>{{object.repartidor}}</a></td>
    </tr>
    {% endif %}
    <tr>
      <td>Fecha Entrega</td>
      <td>{{ object.fecha_entrega }}</td>
    </tr>
    <tr>
      <td>Estado de Entrega</td>
      <td>{% if object.entregada %} Entregada {% else %} Pendiente {% endif %}</td>
    </tr>
  </table>

<h2>Productos vendidos</h2>

<table class="table table-bordered table-hover table-stripped">
    <tr>
      <th>SKU</th>
      <th>NOMBRE</th>
      <th>PRECIO (Q)</th>
      <th>CANTIDAD (Unidades)</th>
      <th>SUBTOTAL (Q)</th>
      <th>TOTAL ACUMULADO (Q)</th>
    </tr>
    {% for pv in factura %}
    <tr>
      <td>{{ pv.producto.sku }}</td>
      <td>{{ pv.producto.nombre }}</td>
      <td>Q {{ pv.producto.precio }}</td>
      <td>{{ pv.cantidad }} unidades</td>
      <td>Q {{ pv.subtotal }}</td>
      <td>Q {{ pv.total }}</td>
    </tr>
    {% endfor %}
    
    {% if object.tipo == 'D' %}
    <tr>
        <td colspan="4">Recargo por servicio a domicilio (10%)</td>
        <td>Q {{ total_10p }}</td>
        <td>Q {{ total_recargo }}</td>
      </tr>
      <tr>
          <td colspan="5">Total</td>
          <td>Q {{ total_recargo }}</td>
      </tr>
    {%else %}
    
    <tr>
        <td colspan="5">Total</td>
        <td>Q {{ total }}</td>
    </tr>
    {% endif %}
  </table>